{% extends "core/base.html" %}
{% load static %}
{% block title %}- {{ current_page }}{% endblock title %}
{% block main %}
{% if request.user.is_authenticated %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  {% include "core/_messages.html" %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="form-group mt-3">
            <div class="input-group">
                <select class="form-select" name="month" id="month">
                    <option value="0">All Months</option>
                    {% for month in months %}
                    <option value="{{ month.num }}">{{ month.month_name }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-outline-primary" type="button" id="submitMonth">Select Month</button>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3><a href="{% url "expenses:home" %}" class="link-underline link-underline-opacity-0">Expenses</a></h3>
      <div id="exp_cont"></canvas></div>
    </div>
    <div class="col-md-6">
      <h3><a href="{% url "income:home" %}" class="link-underline link-underline-opacity-0">Income</a></h3>
      <div id="inc_cont"></canvas></div>
    </div>
  </div>
  
</main>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js" integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp" crossorigin="anonymous"></script>
<script src="{% static "js/dash.js" %}"></script>
{% else %}
<main class="col-md-6 ms-sm-auto col-lg-8 px-md-4">
  <h2 class="mt-5">Welcome to expense tracker</h2>
  <p>Please <a href="{% url "auth:register" %}">register an account</a> to use the service.</p>
  <p>If you already have an account, please <a href="{% url "auth:login" %}">log in</a>.</p>
</main>
<div class="col-md-3 col-lg-2"></div>
{% endif %}
{% endblock main %}